@import url(./blocks/button.css);
@import url(./blocks/glitch.css);
@import url(./blocks/fadeJoke.css);
@keyframes flicker {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}
:root {
  --purple: #8a2be2;
  --green: #01f801;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --gold-yellow: #ffd700;
}

Body {
  background: url("./img/background.jpeg");
  color: #fff;
  /* background: transparent; */
  background-size: cover;
  background-repeat: no-repeat;
}
.nav__bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  margin-right: 150px;
  max-width: 2200px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
.nav__list {
}
.nav__btn {
  padding: 10px 50px;
  font-size: 20px;
  border: 2px solid #01fc01;
  border-radius: 5px;
  color: white;
  background-color: gray;
  position: relative;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
  margin-top: 45px;
}

h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: var(--purple);
  text-align: left;
  height: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 5px 10px 0 var(--green);
  /* Please modify this in the media like 60 or so */
  font-size: 75px;
}

.ready__btn {
  margin-left: 257px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}
/* .ready__btn:hover {
  background-color: var(--green);
  transition: 0.5s ease-in-out;
  opacity: 90%;
} */
.ready-play {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: var(--purple);
  text-transform: uppercase;
  /* Please modify this in the media */
  text-shadow: 5px 5px 0 var(--green);
}

.ready-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 250px;
  margin-bottom: 45px;
}

button {
  padding: 20px 20px;
  color: var(--white);
  background-color: var(--purple);
  border: 3px solid var(--green);
  cursor: pointer;
  /* height: 100px; */
  /* width: 100px; */
  border-radius: 30px;
  font-size: 20px;
  /* box-shadow: 5px 2px 6px var(--green); */
}

button:active {
  padding: 9px 19px;
}

p {
  /* font-family: "Coveat", cursive; */
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
  text-shadow: 3px 5px 6px var(--purple);
}

@media screen and (min-width: 390px) and (max-width: 844px) {
  Body {
    background-size: 1639px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 139px;
  }
  h1 {
    font-size: 50px;
  }
  p {
    text-align: center;
    /* margin-top: -300px; */
  }

  .main__game {
    align-content: center;
  }
  .ready-content {
    margin-left: 0;
    font-size: 30px;
    /* margin-bottom: 0; */
    flex-direction: column;
    text-align: center;
  }
  .ready__btn {
    margin-left: 110px;
    margin-bottom: 0;
    font-size: 20px;
  }

  /* Please make the font small here like 25px   */
  .ready-play {
    font-size: 40px;
    align-items: center;
    margin-left: 53px;
    text-align: center;
  }
}
