@import url(./blocks/button.css);
@import url(./blocks/glitch.css);
@import url(./blocks/fadeJoke.css);
:root {
  --purple: #8a2be2;
  --green: #00ff00;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --gold-yellow: #ffd700;
}

Body {
  background: url("./img/background.jpeg");
  background-size: cover;
  color: white;
  /* background: transparent; */
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
  margin-top: 45px;
}
.main__game {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}

h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  color: var(--purple);
  text-align: left;
  height: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 5px 10px 0 var(--green);
  font-size: 75px;
}

.ready__btn {
  margin-left: 257px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}
.ready__btn:hover {
  background-color: var(--green);
  transition: 0.5s ease-in-out;
  opacity: 90%;
}
/* Design riddle box  */
.riddles {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid yellow; */
  width: 50%;
  height: 150px;
  padding: 50px;
  margin-top: 250px;
}

button {
  padding: 20px 20px;
  color: var(--white);
  background-color: var(--purple);
  border: 3px solid var(--green);
  cursor: pointer;
  /* height: 100px; */
  /* width: 100px; */
  border-radius: 30px;
  font-size: 20px;
  /* box-shadow: 5px 2px 6px var(--green); */
}

button:active {
  padding: 9px 19px;
}
.message-btn {
  display: none;
}

.riddles__message {
  align-self: center;
  color: var(--purple);
  border-bottom: 1px solid #ff0000;
}
p {
  font-family: "Coveat", cursive;
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
  text-shadow: 3px 5px 6px var(--purple);
}

/* design user input  */
img {
  width: 50px;
  height: 50px;
}
.png1 {
  position: absolute;
  top: 10;
  left: 0;
  bottom: 15px;
}

.userAnswer {
  width: 250px;
  height: 70px;
  text-align: center;
  border-radius: 10px 20px;
  padding: 0 20px;
  margin-top: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-weight: 800; */
  font-size: 18px;
  color: gray;
}

.userAnswer:hover {
  box-shadow: 0 0 20px #00ff00;
  border-color: #00ff00;
}

.image-manipulation {
  position: relative;
  width: 200px;
}
.answer {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* design submit button  */

.submit-button {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid; */
  align-items: center;
  margin-top: 150px;
}

.testLuck {
  width: 200px;
  height: 70px;
  text-align: center;
  border-radius: 20px;
  padding: 0 20px;
  transition: transform 0.3s ease-in-out;
  /* margin-bottom: 500px; */
}

.testLuck:hover {
  transform: scale(1.1);
}

.score-content {
  display: block;
  text-align: center;
  align-items: center;
}
