.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 900px;
}

.nav__links {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.nav__btn {
  font-family: "Coveat", cursive;
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav__btn:hover {
  transform: scale(1.1);
  box-shadow: 6px 6px #adff2f;
  border: 3px solid #adff2f;
  color: #fff;
  background-color: rgba(149, 0, 203, 0.451);
}
