.nav__list {
  display: flex;
}

.nav__list a {
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.nav__list a:hover {
  border-bottom: 2px solid #fff;
}
